@using Web.Components.Tags
@using Microsoft.AspNetCore.Components
@using Web.Components.Common.Input
@inject ICommandService commandService

<div class="config">
    <EditForm Model="config" OnValidSubmit="HandleValidSubmit">
        <DataAnnotationsValidator />

        <label for="theme">Theme: </label>
        <InputSelect id="theme" @bind-Value="config.Theme">
            <option value="Light">Light</option>
            <option value="Dark">Dark</option>
            <option value="Black">Black</option>
        </InputSelect>

        <label for="highlight">Highlight:</label>
        <InputColour id="highlight" @bind-Value="config.Highlight" />

        <label for="colours">Tag Colours:</label>
        <InputColourMatches @bind-Value="config.Colours"/>

        <button type="submit">Apply</button>
        <button @onclick="Reset">Reset</button>
    </EditForm>
</div>

@code {
    [CascadingParameter] public ConfigDTO _config { get; set; }

    protected ConfigDTO config;
    protected bool NoSubmit { get; set; } = false;

    protected override void OnInitialized() => config = _config;

    protected async Task HandleValidSubmit()
    {
        if (!NoSubmit) await commandService.SetConfig(config);
    }

    protected void Reset() => config = _config;

}
