
<!-- two col --> 
<!-- instead of bummy list, dynamically detect conflicts on 
    an svg timeline where "height + length cross, highlihgting this?"
    can even fade between conflicts to reduce screen size.
-->

<div class="conflicts">
    <aside>
    </aside>
</div>

<button>Apply</button>
<button>Export</button>


@code {
    //[Parameter] public IEnumerable<Conflicts> conflicts { get; set; }
    //protected IEnumerable<ConflictsSelectable> conflictsSelect { get; set; }

    // delete and add
    // or discard 
}
